<!DOCTYPE html>
<html lang="en">

<head>
    <% include common/head %>
    <style>
    .page-item:first-child .page-link {
        width: fit-content;
    }
    .page-item:last-child .page-link {
    width: fit-content;

    }
    </style>
</head>


<body>
    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <% include common/top-header %>
            <% include common/navbar %>
    </header>
    <!-- ##### Header Area End ##### -->

    <% include common/hero-area %>

        <!-- ##### Blog Area Start ##### -->
        <div class="blog-area section-padding-0-80">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-8">
                        <div class="blog-posts-area">
                            <% article.forEach(e => { %>
                              <!-- Single Featured Post -->
                                <div class="single-blog-post featured-post mb-30">
                                    <div class="post-thumb">
                                        <a href="/post/<%= e.url %>">
                                            <img src="<%= e.cover %>" alt="">
                                        </a>
                                    </div>
                                    <div class="post-data">
                                        <!-- <a class="post-category">><%=article.categor%></a> -->
                                        <a  class="post-title">
                                            <a href="/post/<%=e.url %>"class="post-title"><h6><%=e.title %></h6></a>
                                        </a>
                                        <div class="newspaper-tags d-flex">
                                            <ul class="d-flex">
                                            <% e.tags.forEach(t=> {%>
                                                <li> <a><%=t.name%>,</a></li>
                                            <%})%>
                                            </ul>
                                        </div>
                                        <div class="post-meta">
                                            <p class="post-author">By
                                                <a><%=e.author.fullname %></a>
                                            </p>
                                            <p class="post-excerp"><%=e.description %></p>
                                        
                                        </div>
                                    </div>
                                </div>

                            <% }) %>
                        </div>
                        <div class="row card-footer clearfix">
                            <%-pagination%>
                        </div>
                       
                    </div>

                    <div class="col-12 col-lg-4">
                        <div class="blog-sidebar-area">

                            <!-- Latest Posts Widget -->
                            <% sidebarArticles1.forEach(e=>{ %>
                                <!-- Single Featured Post -->
                                <div class="single-blog-post small-featured-post d-flex">
                                    <div class="post-thumb">
                                        <a href="/post/<%= e.url %>">
                                            <img src="<%= e.cover != 'Invalid file' ?  e.cover : 'img/bg-img/plain-image.png' %>" alt="">
                                        </a>
                                    </div>
                                    <div class="post-data">
                                        <a href="#" class="post-category">
                                            <%= e.category.name %></a>
                                        <div class="post-meta">
                                            <a href="/post/<%= e.url %>" class="post-title">
                                                <h6>
                                                    <%= e.title %>
                                                </h6>
                                            </a>
                                            <p class="post-date">
                                                <%= getTimeDetail(e.createdAt)%>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <% }) %>

                            <!-- Popular News Widget -->
                            <div class="popular-news-widget mb-30">
                                <h3>Tin được xem nhiều</h3>
        
                                <% popularArticles.forEach((e,index) =>{ %>
                                <!-- Single Popular Blog -->
                                <div class="single-popular-post">
                                    <a href="/post/<%= e.url %>">
                                        <h6>
                                            <span>
                                                <%= index+1 %>.</span>
                                            <%= e.title%>
                                        </h6>
                                    </a>
                                    <p>
                                        <%= getTimeDetail(e.createdAt) %>
                                    </p>
                                </div>
                                <% }) %>
        
        
        
                                <!-- Newsletter Widget -->
                                
                            </div>

                            <!-- Newsletter Widget -->
                           

                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ##### Blog Area End ##### -->

        <% include common/footer %>

        <% include common/scripts %>
</body>

</html>