<% layout('admin/layouts/main') -%>
<% block('stylesheets').append(`<link rel="stylesheet" href="/public/admin/vendors/select2/dist/css/select2.min.css">`) -%>

<div class="card content">
    <div class="card-body">
        <h4 class="card-title"> Thêm bài đăng</h4>

        <form class="forms-sample" action="/admin/post/add" method="post">

            <div class="form-group">
                <label for="title">Tiêu đề</label>
                <input type="text" class="form-control" name="title" id="title" placeholder="Tiêu đề" value="<%= typeof title !== 'undefined' ? title : '' %>">
                <p class="text-danger" style="position:relative;top:10px;">
                    <%= typeof errTitle !== 'undefined' ? errTitle : ''%>
                </p>
            </div>
            <div class="form-group">
                <label for="description">Mô tả</label>
                <input type="text" class="form-control" name="description" id="description" placeholder="Mô tả" value="<%= typeof description !== 'undefined' ? description : '' %>">
                <p class="text-danger" style="position:relative;top:10px;">
                    <%= typeof errDescription !== 'undefined' ? errDescription : ''%>
                </p>
            </div>
            <div class="form-group">
                <label>Nội dung</label>
                <script src="/public/admin/vendors/tinymce/tinymce.min.js"></script>
                <textarea id="tinymce" name="content"><%= typeof content !== 'undefined' ? content : '' %>
                </textarea>
                <p class="text-danger" style="position:relative;top:10px;">
                    <%= typeof errContent !== 'undefined' ? errContent : ''%>
                </p>
            </div>
            <div class="form-group">
                <label for="author">Tác giả</label>
                <input type="text" class="form-control" id="author" value="<%= cUser.fullname %>" disabled>
                <input type="hidden" class="form-control" id="author" name="author" value="<%= cUser.id %>">
            </div>
            <!-- category -->
            <div class="form-group">
                <label>Chuyên mục</label>
                <select id="level1" class="form-control" name="grandparentId">
                    <option value="0">Không</option>
                    <% grandparentCategoryList.forEach(e => { %>
                    <option value="<%= e._id %>" <% if (typeof(grandparentId) !=='undefined' ){ %>
                        <% if(grandparentId.toString() === e._id.toString()){ %>
                        selected
                        <% } %>
                        <% } %> >
                        <%= e.name %>
                    </option>
                    <% }) %>
                </select>
            </div>
            <div class="form-group">
                <label style="display: none" id="title_level2">Loại tin</label>
                <select style="display: none" id="level2" class="form-control" name="parentId">
                    <option value="0">Không</option>
                    <% if (typeof(parentCategoryList) !== 'undefined') { %>
                        <% parentCategoryList.forEach(e => { %>
                            <option value="<%= e._id %>" 
                                <% if(parentId.toString() === e._id.toString()){ %>
                                    selected
                                <% } %> >
                                <%= e.name %>
                            </option>
                        <% }) %>
                    <% } %>

                </select>
            </div>
            <div class="form-group">
                <label style="display: none" id="title_level3">Trường tin</label>
                <select style="display: none" id="level3" class="form-control" name="childId">
                    <option value="0">Không</option>
                    <% if (typeof(childCategoryList) !== 'undefined') { %>
                        <% childCategoryList.forEach(e => { %>
                            <option value="<%= e._id %>" 
                                <% if(childId.toString() === e._id.toString()){ %>
                                    selected
                                <% } %> >
                                <%= e.name %>
                            </option>
                        <% }) %>
                    <% } %>

                </select>
            </div>
            <div class="form-group">
                <p class="text-danger">
                    <%= typeof errCategory !== 'undefined' ? errCategory : ''%>
                </p>
            </div>
            <!-- /.category -->

            <!-- tag -->
            <div class="box box-default">
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Tag</label>
                                <select class="form-control select2" multiple="multiple" name="tags" id="tags"
                                    data-placeholder="Nhập tag" style="width: 100%;">
                                    <% tagList.forEach(e=>{ %>
                                    <option value="<%= e._id %>" <% if (typeof(tags)==='string' ){ %>
                                        <% if(tags.toString() === e._id.toString() ){ %>
                                        selected
                                        <% } %>
                                        <% } %>
                                        <% if (typeof(tags) === 'object'){ %>
                                        <% tags.forEach(tag => { %>
                                        <% if(tag.toString() === e._id.toString() ){ %>
                                        selected
                                        <% } %>
                                        <% })%>
                                        <% }  %> >
                                        <%= e.name %>
                                    </option>
                                    <% }) %>
                                </select>
                                <p class="text-danger" style="position:relative;top:10px;">
                                    <%= typeof errTags !== 'undefined' ? errTags : ''%>
                                </p>
                            </div>
                            <!-- /.form-group -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.tag-->

            <div class="form-group">
                <label>Hình ảnh đại diện:</label>
                <p class="sub-title">Kích thước ảnh không quá <strong>3MB</strong>. Nếu bỏ qua, hệ thống sẽ sử dụng
                    hình ảnh mặc định.</p>
                <input id="file" type="file" class="form-control">
                <p class="sub-or">Hoặc chèn link ảnh trực tiếp:</p>
                <input id="imageMain" type="text" class="form-control" name="cover" value="<%= typeof cover !== 'undefined' ? cover : '' %>">
                <p hidden id="loadImage"><img src="/public/admin/img/loading_small.gif"></p>
                <br>
                <div id="demoImg" class="alert text-center alert-light" role="alert">
                </div>
            </div>
            <button type="submit" class="btn btn-success mr-2">Đăng bài</button>
            <a href="javascript:history.back()" class="btn btn-danger">Hủy bỏ</a>
        </form>
    </div>
</div>

<% block('scripts').append(`
<script src="js/fileinput.js" type="text/javascript"></script>
    <script src="/public/admin/vendors/select2/dist/js/select2.full.min.js"></script>
    <script>
        $('.select2').select2();
        tinymce.init({
            selector: 'textarea#tinymce',
            height: 400,
            // plugins: 'print preview fullpage searchreplace autolink directionality visualblocks visualchars fullscreen image link media template codesample table charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists textcolor wordcount imagetools contextmenu colorpicker textpattern help',
            plugins: [
                "advlist autolink lists link image charmap print preview anchor",
                "searchreplace visualblocks code fullscreen",
                "insertdatetime media table contextmenu paste",
                "textcolor wordcount imagetools contextmenu colorpicker"
            ],
            toolbar: "insertfile undo redo | styleselect | fontsizeselect | bold italic strikethrough forecolor backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
            images_upload_url: '/admin/post/image',
    
            images_upload_handler: function (blobInfo, success, failure) {
                let xhr, formData;
          
                xhr = new XMLHttpRequest();
                xhr.withCredentials = false;
                xhr.open('POST', '/admin/post/image');
            
                xhr.onload = function() {
                    let json;
                
                    if (xhr.status != 200) {
                        failure('HTTP Error: ' + xhr.status);
                        return;
                    }
                
                    json = JSON.parse(xhr.responseText);
                
                    if (!json || typeof json.location != 'string') {
                        failure('Invalid JSON: ' + xhr.responseText);
                        return;
                    }
                
                    success(json.location);
                };
            
                formData = new FormData();
                formData.append('file', blobInfo.blob(), blobInfo.filename());
            
                xhr.send(formData);
            }
        });
    </script>

    <script>
        $(document).ready(function () {
            if($('#level1').val() !== '0'){
            $('#title_level2').show();
            $('#level2').show();
        }
            $('#level1').change(function () {
                $('#level2 option[value!="0"] ').remove()
                $('#level3 option[value!="0"] ').remove()
                let id = $(this).val();
                if (id == "0") {
                    $('#title_level2').hide();
                    $('#level2').hide();
                    $('#title_level3').hide();
                    $('#level3').hide();
                } else {
                    $('#title_level2').show();
                    $('#level2').show();
                    $.ajax({
                        type: "post",
                        url: "/admin/category/postAjax",
                        data: {
                            parentId: id
                        },
                        dataType: "json",
                        success: function (response) {
                            response.forEach(element => {
                                $('#level2').append('<option value="' + element._id +
                                    '">' + element.name + '</option>')
                            });
                        }
                    });
                }
            })
        });
    </script>
    <script>
        $(document).ready(function () {
            if($('#level2').val() !== '0'){
            $('#title_level3').show();
            $('#level3').show();
        }
            $('#level2').change(function () {
                $('#level3 option[value!="0"] ').remove()
                let id = $(this).val();
                if (id == "0") {
                    $('#title_level3').hide();
                    $('#level3').hide();
                } else {
                    $('#title_level3').show();
                    $('#level3').show();
                    $.ajax({
                        type: "post",
                        url: "/admin/category/postAjax",
                        data: {
                            parentId: id
                        },
                        dataType: "json",
                        success: function (response) {
                            response.forEach(element => {
                                $('#level3').append('<option value="' + element._id +
                                    '">' + element.name + '</option>')
                            });
                        }
                    });
                }
            });
        });
    </script>
    `) -%>