<% layout ('admin/layouts/main') -%>
<% block('stylesheets').append(`<link rel="stylesheet" href="/public/admin/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css">`) %>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Tài khoản đã xoá</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <% if (typeof flash !== 'undefined'){ %>
                    <% for(let prop in flash) { %>
                    <div class="alert text-center alert-<%= prop %>">
                        <% flash[prop].forEach((err) => { %>
                        <%= err %>
                        <% })%>
                    </div>
                    <% } %>
                    <% } %>
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Họ tên</th>
                                <th>Tên đăng nhập</th>
                                <th>Email</th>
                                <th>SĐT</th>
                                <th>Vai trò</th>
                                <th>Ngày đăng kí</th>
                                <th>Ngày xoá</th>
                                <th>Công cụ</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% users.forEach((e,index) => {%>
                            <tr>
                                <td>
                                    <%= index+1 %>
                                </td>
                                <td>
                                    <%= e.fullname %>
                                </td>
                                <td>
                                    <%= e.username %>
                                </td>
                                <td>
                                    <%= e.email %>
                                </td>
                                <td>
                                    <%= e.phoneNumber %>
                                </td>
                                <td>
                                    <%= e.role === 'manager' ? 'Quản lí' : 'Người đăng bài' %>
                                </td>
                                <td>
                                    <%= getTimeDetail(e.createdAt) %>
                                </td>
                                <td>
                                    <%= getTimeDetail(e.deletedAt) %>
                                </td>
                                <td>
                                    <a href="/admin/user/bin/restore/<%= e._id %>" class="btn btn-success btn-xs">
                                        <i class="fa fa-recycle"></i> Khôi phục </a>
                                    <button data-id="<%= e._id %>" type="button" class="btn btn-danger btn-xs completedDeleteUser">
                                        <i class="fa fa-trash-o"></i> Xoá hoàn toàn </button>
                                </td>
                            </tr>
                            <% }) %>
                        </tbody>
                    </table>
                    <div class="row card-footer clearfix">
                        <%- pagination %>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<% block('scripts').append(`
<script src="/public/admin/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/public/admin/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

<script>
  $(function () {
    $('#example1').DataTable()
    $('#example2').DataTable({
      'paging': false,
      'lengthChange': false,
      'searching': false,
      'ordering': true,
      'info': true,
      'autoWidth': false
    })
  })
</script>
`) -%>