<!-- ##### Footer Area Start ##### -->
<footer class="footer-area">

    <!-- Main Footer Area -->
    <div class="main-footer-area">
        <div class="container">
            <div class="row">

                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="footer-widget-area mt-80">
                        <!-- Footer Logo -->
                        <div class="footer-logo">
                            <a href="/">
                                <img src="img/core-img/logo.png" alt="">
                            </a>
                        </div>
                        <!-- List -->
                        <ul class="list">
                            <li>
                                <a href="mailto:contact@youremail.com">contact@youremail.com</a>
                            </li>
                            <li>
                                <a href="tel:+4352782883884">+43 5278 2883 884</a>
                            </li>
                            <li>
                                <a href="http://yoursitename.com">www.yoursitename.com</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-6 col-lg-2">
                    <div class="footer-widget-area mt-80">
                        <!-- Title -->
                        <h4 class="widget-title">Politics</h4>
                        <!-- List -->
                        <ul class="list">
                            <li>
                                <a href="#">Business</a>
                            </li>
                            <li>
                                <a href="#">Markets</a>
                            </li>
                            <li>
                                <a href="#">Tech</a>
                            </li>
                            <li>
                                <a href="#">Luxury</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-4 col-lg-2">
                    <div class="footer-widget-area mt-80">
                        <!-- Title -->
                        <h4 class="widget-title">Featured</h4>
                        <!-- List -->
                        <ul class="list">
                            <li>
                                <a href="#">Football</a>
                            </li>
                            <li>
                                <a href="#">Golf</a>
                            </li>
                            <li>
                                <a href="#">Tennis</a>
                            </li>
                            <li>
                                <a href="#">Motorsport</a>
                            </li>
                            <li>
                                <a href="#">Horseracing</a>
                            </li>
                            <li>
                                <a href="#">Equestrian</a>
                            </li>
                            <li>
                                <a href="#">Sailing</a>
                            </li>
                            <li>
                                <a href="#">Skiing</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-4 col-lg-2">
                    <div class="footer-widget-area mt-80">
                        <!-- Title -->
                        <h4 class="widget-title">FAQ</h4>
                        <!-- List -->
                        <ul class="list">
                            <li>
                                <a href="#">Aviation</a>
                            </li>
                            <li>
                                <a href="#">Business</a>
                            </li>
                            <li>
                                <a href="#">Traveller</a>
                            </li>
                            <li>
                                <a href="#">Destinations</a>
                            </li>
                            <li>
                                <a href="#">Features</a>
                            </li>
                            <li>
                                <a href="#">Food/Drink</a>
                            </li>
                            <li>
                                <a href="#">Hotels</a>
                            </li>
                            <li>
                                <a href="#">Partner Hotels</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-4 col-lg-2">
                    <div class="footer-widget-area mt-80">
                        <!-- Title -->
                        <h4 class="widget-title">+More</h4>
                        <!-- List -->
                        <ul class="list">
                            <li>
                                <a href="#">Fashion</a>
                            </li>
                            <li>
                                <a href="#">Design</a>
                            </li>
                            <li>
                                <a href="#">Architecture</a>
                            </li>
                            <li>
                                <a href="#">Arts</a>
                            </li>
                            <li>
                                <a href="#">Autos</a>
                            </li>
                            <li>
                                <a href="#">Luxury</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bottom Footer Area -->
    <div class="bottom-footer-area">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <!-- Copywrite -->
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>
                            document.write(new Date().getFullYear());
                        </script> All rights reserved | This template is made with
                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                        by
                        <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- ##### Footer Area End ##### -->