<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="<%= typeof cUser !== 'undefined' ? cUser.avatar: ''%>" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p><%= typeof cUser !== 'undefined' ? cUser.fullname : '' %></p>
        <a href=""><i class="fa fa-circle text-success"></i> <% if(typeof cUser !== 'undefined') { %>
          <% if(cUser.role === 'admin') { %>
            Quản trị viên
          <% } else if (cUser.role === 'manager') { %>
            Quản lí
          <% } else { %>
            Người đăng bài
          <% } %>
        <% } %>
        </a>
      </div>
    </div>
    <!-- search form -->
    <form action="" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
          <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
          </button>
        </span>
      </div>

    </form>
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">MAIN NAVIGATION</li>
      <li class="treeview">
        <a href="">
          <i class="fa fa-table"></i> <span>Bài đăng</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="/admin/post/add"><i class="fa fa-circle-o"></i>Thêm bài đăng</a></li>
          <li><a href="/admin/post/manage-by-author"><i class="fa fa-circle-o"></i>Bài đăng của bạn</a></li>
          <li><a href="/admin/post/manage"><i class="fa fa-circle-o"></i>Quản lí bài đăng</a></li>
          <li><a href="/admin/post/bin"><i class="fa fa-circle-o"></i>Thùng rác</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="">
          <i class="fa fa-edit"></i> <span>Chuyên mục</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="/admin/category/add"><i class="fa fa-circle-o"></i>Thêm chuyên mục</a></li>
          <li><a href="/admin/category/manage"><i class="fa fa-circle-o"></i>Quản lí chuyên mục</a></li>
          <li><a href="/admin/category/bin"><i class="fa fa-circle-o"></i>Thùng rác</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="">
          <i class="fa fa-edit"></i> <span>Tags</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="/admin/tag/add"><i class="fa fa-circle-o"></i>Thêm Tag</a></li>
          <li><a href="/admin/tag/manage"><i class="fa fa-circle-o"></i>Quản lí Tag</a></li>
          <li><a href="/admin/tag/bin"><i class="fa fa-circle-o"></i>Thùng rác</a></li>
        </ul>
      </li>
      <% if (typeof(cUser) !== 'undefined') { %>
        <% if (cUser.role === 'admin'){ %>
          <li class="treeview">
            <a href="">
              <i class="fa fa-table"></i> <span>Quản trị người dùng</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li><a href="/admin/user/manage"><i class="fa fa-circle-o"></i>Tài khoản đang hoạt động</a></li>
              <li><a href="/admin/user/inactive"><i class="fa fa-circle-o"></i>Tài khoản không hoạt động</a></li>
              <li><a href="/admin/user/bin"><i class="fa fa-circle-o"></i>Tài khoản đã xoá</a></li>
            </ul>
          </li>
        <% } %>
      <% } %>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>